{% extends 'base.html' %}

{% block title%}
    <title>Sign Up</title>
{% endblock%}

{% block content %}
    <div class="container">
        <h1>Sign Up</h1>
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <form method= "POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" required class="form-control" name="email" aria-describedby="emailHelp" placeholder = "Enter Email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" required class="form-control" name="password" placeholder= "Enter Password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Show password</label>
            </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>


{% endblock %}